/* Container div surrounding the farm */
div.farm {
  display: inline-block;
  padding: 25px;
  align-content: center;
  vertical-align: middle;
  border: 1px solid black;
}

/* Table of the farm plots */
table.farm {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #b36b34;
  color: black;
}

/* Class for individual plots on the farm */
td.farmplot {
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

td.farmplot-PLOWED {
  color: #e7a51d;
}

td.farmplot-PLANTED {
  color: #154d2c;
}

td.farmplot-UNPLOWED {
  color: #7e231c;
}

td.farmplot-READY_FOR_HARVEST {
  color: #0f6109;
}

td.farmplot-farmer {
  color: #da9bdb;
}
