/* Container div surrounding the farm */
div.farm {
  display: inline-block;
  padding: 25px;
  align-content: center;
  vertical-align: middle;
  border: 1px solid black;
}

/* Table of the farm plots */
table.farm {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: black;
  color: white;
}

/* Class for individual plots on the farm */
td.farmplot {
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

td.farmplot-PLOWED {
  color: burlywood;
}

td.farmplot-PLANTED {
  color: green;
}

td.farmplot-UNPLOWED {
  color: brown;
}

td.farmplot-READY_FOR_HARVEST {
  color: chartreuse;
}

td.farmplot-farmer {
  color: purple;
}
