/* Container div surrounding the market */
div.market {
  display: block flex;
  padding: 25px;
  width: fit-content;
  border: 1px solid black;
}

/* Table of the market plots */
table.market {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: #81af54;
  color: black;
}

/* Class for individual plots on the market */
td.marketplot {
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

td.marketplot-empty {
  color: #407429;
}

td.marketplot-merchant {
  color: #e7d8d8;
}

td.marketplot-stand {
  color: #a64634;
}

td.marketplot-customer-bartering {
  color: gold;
}

td.marketplot-pedestrian {
  color: #5a4d4d;
}

td.marketplot-accounting-object {
  color: white;
}

button.arial {
  font-family: "Arial Unicode MS";
  font-size: 30px;
  padding: 0px;
  display: block;
  cursor: pointer;
}

div.inline {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

div.center {
  align-items: center;
  display: flex;
}

div.grey {
  color: grey;
}

div.pointer {
  cursor: pointer;
}
